.header__top {
  .navbar {
    left: 0;
    width: 100%;
    z-index: 1;
    .custom-nav {
      justify-content: flex-end;
    }

    .navbar-nav {
      a {
        font-size: 14px;
        text-transform: uppercase;
      }
    }
  }
}

header {
  border-bottom: 1px solid #ebebeb;
}
